
/* Syntax highlighting for CodeBlockLowlight */
.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrains Mono', monospace;
  padding: 1.5rem 1rem 1rem 1rem;
  border-radius: 0.75rem;
}

.ProseMirror code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.9rem;
}

.hljs-comment,
.hljs-quote {
  color: #616161;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #f98181;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #fbbc88;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #b9f18d;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #70cff8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}
